body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

#balance {
    font-size: 2rem;
    margin-top: 10px;
}

.list-group-item span {
    font-size: 1.1rem;
}
